@use "@trebired/bundler/namespace" as ns;
#{ns.element-class("upload-crop", "stage")} .cropper-container,

#{ns.element-class("upload-crop", "stage")} .cropper-wrap-box,

#{ns.element-class("upload-crop", "stage")} .cropper-canvas,

#{ns.element-class("upload-crop", "stage")} .cropper-drag-box,

#{ns.element-class("upload-crop", "stage")} .cropper-crop-box,

#{ns.element-class("upload-crop", "stage")} .cropper-modal {
  position: absolute;
  inset: 0;
}

#{ns.element-class("upload-crop", "stage")} .cropper-container {
  width: 100%;
  height: 100%;
  direction: ltr;
  font-size: 0;
  line-height: 0;
  touch-action: none;
  user-select: none;
}

#{ns.element-class("upload-crop", "stage")} .cropper-crop-box {
  overflow: visible;
}

#{ns.element-class("upload-crop", "stage")} .cropper-container img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none !important;
  max-height: none !important;
  min-width: 0 !important;
  min-height: 0 !important;
  backface-visibility: hidden;
}

#{ns.element-class("upload-crop", "stage")} .cropper-wrap-box,

#{ns.element-class("upload-crop", "stage")} .cropper-canvas {
  overflow: hidden;
}

#{ns.element-class("upload-crop", "stage")} .cropper-drag-box {
  background: #fff;
  opacity: 0;
}

#{ns.element-class("upload-crop", "stage")} .cropper-modal {
  background: var(#{ns.css-var("ui-upload-cropper-stage-overlay-color")}, rgb(0 0 0 / 72%));
}

#{ns.element-class("upload-crop", "stage")} .cropper-view-box {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
}

#{ns.element-class("upload-crop", "stage")} .cropper-view-box::before,

#{ns.element-class("upload-crop", "stage")} .cropper-view-box::after {
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
  z-index: 4;
}

#{ns.element-class("upload-crop", "stage")} .cropper-view-box::before {
  inset: 0;
  border: var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) solid
  var(#{ns.css-var("ui-upload-cropper-stage-line-contrast-color")}, #000);
}

#{ns.element-class("upload-crop", "stage")} .cropper-view-box::after {
  inset: var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px);
  border: var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) solid
  var(#{ns.css-var("ui-upload-cropper-stage-line-color")}, #fff);
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed {
  position: absolute;
  display: block;
  border: 0;
  pointer-events: none;
  z-index: 3;
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed::before,

#{ns.element-class("upload-crop", "stage")} .cropper-dashed::after {
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-h {
  top: calc(100% / 3);
  left: 0;
  width: 100%;
  height: calc(100% / 3);
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-h::before,

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-h::after {
  left: 0;
  width: 100%;
  height: calc(var(#{ns.css-var("ui-upload-cropper-stage-guide-width")}, 1px) * 2);
  background: var(#{ns.css-var("upload-cropper-guide-horizontal")});
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-h::before {
  top: 0;
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-h::after {
  bottom: 0;
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-v {
  top: 0;
  left: calc(100% / 3);
  width: calc(100% / 3);
  height: 100%;
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-v::before,

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-v::after {
  top: 0;
  width: calc(var(#{ns.css-var("ui-upload-cropper-stage-guide-width")}, 1px) * 2);
  height: 100%;
  background: var(#{ns.css-var("upload-cropper-guide-vertical")});
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-v::before {
  left: 0;
}

#{ns.element-class("upload-crop", "stage")} .cropper-dashed.dashed-v::after {
  right: 0;
}

#{ns.element-class("upload-crop", "stage")} .cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 3;
}

#{ns.element-class("upload-crop", "stage")} .cropper-center::before,

#{ns.element-class("upload-crop", "stage")} .cropper-center::after {
  position: absolute;
  display: block;
  content: " ";
}

#{ns.element-class("upload-crop", "stage")} .cropper-center::before {
  top: 0;
  left: -4px;
  width: 9px;
  height: calc(var(#{ns.css-var("ui-upload-cropper-stage-guide-width")}, 1px) * 2);
  background: var(#{ns.css-var("upload-cropper-guide-horizontal")});
}

#{ns.element-class("upload-crop", "stage")} .cropper-center::after {
  top: -4px;
  left: 0;
  width: calc(var(#{ns.css-var("ui-upload-cropper-stage-guide-width")}, 1px) * 2);
  height: 9px;
  background: var(#{ns.css-var("upload-cropper-guide-vertical")});
}

#{ns.element-class("upload-crop", "stage")} .cropper-face,

#{ns.element-class("upload-crop", "stage")} .cropper-line,

#{ns.element-class("upload-crop", "stage")} .cropper-point {
  position: absolute;
  display: block;
}

#{ns.element-class("upload-crop", "stage")} .cropper-face {
  inset: 0;
  background: var(#{ns.css-var("ui-upload-cropper-stage-face-color")}, rgb(255 255 255 / 14%));
  z-index: 1;
}

#{ns.element-class("upload-crop", "stage")} .cropper-line {
  background: transparent;
  z-index: 6;
}

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-e,

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-w {
  top: 0;
  width: calc(var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) * 2);
  height: 100%;
  cursor: ew-resize;
}

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-e {
  right: calc(var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) * -1);
}

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-w {
  left: calc(var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) * -1);
}

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-n,

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-s {
  left: 0;
  width: 100%;
  height: calc(var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) * 2);
  cursor: ns-resize;
}

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-n {
  top: calc(var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) * -1);
}

#{ns.element-class("upload-crop", "stage")} .cropper-line.line-s {
  bottom: calc(var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px) * -1);
}

#{ns.element-class("upload-crop", "stage")} .cropper-point {
  width: var(#{ns.css-var("ui-upload-cropper-stage-point-size")}, 12px);
  height: var(#{ns.css-var("ui-upload-cropper-stage-point-size")}, 12px);
  margin: 0;
  border: var(
    #{ns.css-var("ui-upload-cropper-stage-point-border")},
    var(#{ns.css-var("border-width")}, 1px) solid var(#{ns.css-var("text")}, #000)
  );
  border-radius: var(#{ns.css-var("ui-upload-cropper-stage-point-radius")}, var(#{ns.css-var("radius-sm")}, 0));
  background: var(#{ns.css-var("ui-upload-cropper-stage-point-bg")}, #fff);
  box-shadow: 0 0 0 var(#{ns.css-var("ui-upload-cropper-stage-line-width")}, 1px)
  var(#{ns.css-var("ui-upload-cropper-stage-line-color")}, #fff);
  cursor: pointer;
  transform: translate(var(#{ns.css-var("upload-cropper-point-x")}, 0), var(#{ns.css-var("upload-cropper-point-y")}, 0));
  z-index: 5;
}

#{ns.element-class("upload-crop", "stage")} .cropper-point:is(.point-e, .point-w) {
  top: 50%;
  #{ns.css-var("upload-cropper-point-y")}: -50%;
}

#{ns.element-class("upload-crop", "stage")} .cropper-point:is(.point-n, .point-s) {
  left: 50%;
  #{ns.css-var("upload-cropper-point-x")}: -50%;
}

#{ns.element-class("upload-crop", "stage")} .cropper-point:is(.point-e, .point-ne, .point-se) {
  right: var(#{ns.css-var("ui-upload-cropper-stage-point-inset")}, 0);
}

#{ns.element-class("upload-crop", "stage")} .cropper-point:is(.point-w, .point-nw, .point-sw) {
  left: var(#{ns.css-var("ui-upload-cropper-stage-point-inset")}, 0);
}

#{ns.element-class("upload-crop", "stage")} .cropper-point:is(.point-n, .point-ne, .point-nw) {
  top: var(#{ns.css-var("ui-upload-cropper-stage-point-inset")}, 0);
}

#{ns.element-class("upload-crop", "stage")} .cropper-point:is(.point-s, .point-se, .point-sw) {
  bottom: var(#{ns.css-var("ui-upload-cropper-stage-point-inset")}, 0);
}

#{ns.element-class("upload-crop", "stage")} .cropper-hidden {
  display: none !important;
}

#{ns.element-class("upload-crop", "stage")} .cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

#{ns.element-class("upload-crop", "stage")} .cropper-invisible {
  opacity: 0;
}
