@use "@trebired/bundler/namespace" as ns;
.gap-xs2 {
  gap: var(#{ns.css-var("gap-xs2")});
}

.gap-xs {
  gap: var(#{ns.css-var("gap-xs")});
}

.gap-sm {
  gap: var(#{ns.css-var("gap-sm")});
}

.gap-md {
  gap: var(#{ns.css-var("gap-md")});
}

.gap-lg {
  gap: var(#{ns.css-var("gap-lg")});
}

.mt-xs {
  margin-top: var(#{ns.css-var("gap-xs")});
}

.mt-xs2 {
  margin-top: var(#{ns.css-var("gap-xs2")});
}

.mt-sm {
  margin-top: var(#{ns.css-var("gap-sm")});
}

.mt-md {
  margin-top: var(#{ns.css-var("gap-md")});
}

.mt-lg {
  margin-top: var(#{ns.css-var("gap-lg")});
}

.mb-xs {
  margin-bottom: var(#{ns.css-var("gap-xs")});
}

.mb-xs2 {
  margin-bottom: var(#{ns.css-var("gap-xs2")});
}

.mb-sm {
  margin-bottom: var(#{ns.css-var("gap-sm")});
}

.mb-md {
  margin-bottom: var(#{ns.css-var("gap-md")});
}

.mb-lg {
  margin-bottom: var(#{ns.css-var("gap-lg")});
}

.padding-xs2 {
  padding: var(#{ns.css-var("gap-xs2")});
}

.padding-xs {
  padding: var(#{ns.css-var("gap-xs")});
}

.padding-sm {
  padding: var(#{ns.css-var("gap-sm")});
}

.padding-md {
  padding: var(#{ns.css-var("gap-md")});
}

.padding-lg {
  padding: var(#{ns.css-var("gap-lg")});
}

.padding-block-sm {
  padding-block: var(#{ns.css-var("gap-sm")});
}

.padding-block-md {
  padding-block: var(#{ns.css-var("gap-md")});
}

.padding-block-lg {
  padding-block: var(#{ns.css-var("gap-lg")});
}

.padding-top-md {
  padding-top: var(#{ns.css-var("gap-md")});
}

.padding-top-lg {
  padding-top: var(#{ns.css-var("gap-lg")});
}

.padding-bottom-md {
  padding-bottom: var(#{ns.css-var("gap-md")});
}

.padding-bottom-lg {
  padding-bottom: var(#{ns.css-var("gap-lg")});
}

.width-full {
  width: 100%;
}

.radius-md {
  border-radius: var(#{ns.css-var("radius")}, 0);
}

.radius-sm {
  border-radius: var(#{ns.css-var("radius-sm")}, 0);
}
