.gap-xs2 {
  gap: var(--tbf-gap-xs2);
}

.gap-xs {
  gap: var(--tbf-gap-xs);
}

.gap-sm {
  gap: var(--tbf-gap-sm);
}

.gap-md {
  gap: var(--tbf-gap-md);
}

.gap-lg {
  gap: var(--tbf-gap-lg);
}

.mt-xs {
  margin-top: var(--tbf-gap-xs);
}

.mt-xs2 {
  margin-top: var(--tbf-gap-xs2);
}

.mt-sm {
  margin-top: var(--tbf-gap-sm);
}

.mt-md {
  margin-top: var(--tbf-gap-md);
}

.mt-lg {
  margin-top: var(--tbf-gap-lg);
}

.mb-xs {
  margin-bottom: var(--tbf-gap-xs);
}

.mb-xs2 {
  margin-bottom: var(--tbf-gap-xs2);
}

.mb-sm {
  margin-bottom: var(--tbf-gap-sm);
}

.mb-md {
  margin-bottom: var(--tbf-gap-md);
}

.mb-lg {
  margin-bottom: var(--tbf-gap-lg);
}
