@use "@trebired/bundler/namespace" as ns;
#{ns.class("gap-xs2")} {
  gap: var(#{ns.css-var("gap-xs2")});
}

#{ns.class("gap-xs")} {
  gap: var(#{ns.css-var("gap-xs")});
}

#{ns.class("gap-sm")} {
  gap: var(#{ns.css-var("gap-sm")});
}

#{ns.class("gap-md")} {
  gap: var(#{ns.css-var("gap-md")});
}

#{ns.class("gap-lg")} {
  gap: var(#{ns.css-var("gap-lg")});
}

#{ns.class("mt-xs")} {
  margin-top: var(#{ns.css-var("gap-xs")});
}

#{ns.class("mt-xs2")} {
  margin-top: var(#{ns.css-var("gap-xs2")});
}

#{ns.class("mt-sm")} {
  margin-top: var(#{ns.css-var("gap-sm")});
}

#{ns.class("mt-md")} {
  margin-top: var(#{ns.css-var("gap-md")});
}

#{ns.class("mt-lg")} {
  margin-top: var(#{ns.css-var("gap-lg")});
}

#{ns.class("mb-xs")} {
  margin-bottom: var(#{ns.css-var("gap-xs")});
}

#{ns.class("mb-xs2")} {
  margin-bottom: var(#{ns.css-var("gap-xs2")});
}

#{ns.class("mb-sm")} {
  margin-bottom: var(#{ns.css-var("gap-sm")});
}

#{ns.class("mb-md")} {
  margin-bottom: var(#{ns.css-var("gap-md")});
}

#{ns.class("mb-lg")} {
  margin-bottom: var(#{ns.css-var("gap-lg")});
}

#{ns.class("padding-xs2")} {
  padding: var(#{ns.css-var("gap-xs2")});
}

#{ns.class("padding-xs")} {
  padding: var(#{ns.css-var("gap-xs")});
}

#{ns.class("padding-sm")} {
  padding: var(#{ns.css-var("gap-sm")});
}

#{ns.class("padding-md")} {
  padding: var(#{ns.css-var("gap-md")});
}

#{ns.class("padding-lg")} {
  padding: var(#{ns.css-var("gap-lg")});
}

#{ns.class("padding-block-sm")} {
  padding-block: var(#{ns.css-var("gap-sm")});
}

#{ns.class("padding-block-md")} {
  padding-block: var(#{ns.css-var("gap-md")});
}

#{ns.class("padding-block-lg")} {
  padding-block: var(#{ns.css-var("gap-lg")});
}

#{ns.class("padding-top-md")} {
  padding-top: var(#{ns.css-var("gap-md")});
}

#{ns.class("padding-top-lg")} {
  padding-top: var(#{ns.css-var("gap-lg")});
}

#{ns.class("padding-bottom-md")} {
  padding-bottom: var(#{ns.css-var("gap-md")});
}

#{ns.class("padding-bottom-lg")} {
  padding-bottom: var(#{ns.css-var("gap-lg")});
}

#{ns.class("width-full")} {
  width: 100%;
}

#{ns.class("radius-md")} {
  border-radius: var(#{ns.css-var("radius")}, 0);
}

#{ns.class("radius-sm")} {
  border-radius: var(#{ns.css-var("radius-sm")}, 0);
}
