@use "@trebired/bundler/namespace" as ns;
#{ns.class("ml-xs")} {
  margin-left: var(#{ns.css-var("gap-xs")});
}

#{ns.class("ml-xs2")} {
  margin-left: var(#{ns.css-var("gap-xs2")});
}

#{ns.class("ml-sm")} {
  margin-left: var(#{ns.css-var("gap-sm")});
}

#{ns.class("ml-md")} {
  margin-left: var(#{ns.css-var("gap-md")});
}

#{ns.class("ml-lg")} {
  margin-left: var(#{ns.css-var("gap-lg")});
}

#{ns.class("mr-xs")} {
  margin-right: var(#{ns.css-var("gap-xs")});
}

#{ns.class("mr-xs2")} {
  margin-right: var(#{ns.css-var("gap-xs2")});
}

#{ns.class("mr-sm")} {
  margin-right: var(#{ns.css-var("gap-sm")});
}

#{ns.class("mr-md")} {
  margin-right: var(#{ns.css-var("gap-md")});
}

#{ns.class("mr-lg")} {
  margin-right: var(#{ns.css-var("gap-lg")});
}

#{ns.class("border")} {
  border: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

#{ns.class("border-0")} {
  border: 0;
}

#{ns.class("border-top")} {
  border-top: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

#{ns.class("border-bottom")} {
  border-bottom: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

#{ns.class("border-left")} {
  border-left: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

#{ns.class("border-right")} {
  border-right: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

#{ns.class("border-block")} {
  border-block: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

#{ns.class("border-inline")} {
  border-inline: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}
