@use "@trebired/bundler/namespace" as ns;
.ml-xs {
  margin-left: var(#{ns.css-var("gap-xs")});
}

.ml-xs2 {
  margin-left: var(#{ns.css-var("gap-xs2")});
}

.ml-sm {
  margin-left: var(#{ns.css-var("gap-sm")});
}

.ml-md {
  margin-left: var(#{ns.css-var("gap-md")});
}

.ml-lg {
  margin-left: var(#{ns.css-var("gap-lg")});
}

.mr-xs {
  margin-right: var(#{ns.css-var("gap-xs")});
}

.mr-xs2 {
  margin-right: var(#{ns.css-var("gap-xs2")});
}

.mr-sm {
  margin-right: var(#{ns.css-var("gap-sm")});
}

.mr-md {
  margin-right: var(#{ns.css-var("gap-md")});
}

.mr-lg {
  margin-right: var(#{ns.css-var("gap-lg")});
}

.border {
  border: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

.border-0 {
  border: 0;
}

.border-top {
  border-top: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

.border-bottom {
  border-bottom: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

.border-left {
  border-left: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

.border-right {
  border-right: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

.border-block {
  border-block: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}

.border-inline {
  border-inline: var(#{ns.css-var("border-width")}) solid var(#{ns.css-var("border")});
}
