@use "@trebired/bundler/namespace" as ns;
#{ns.class("theme-switch-popover")} {
  min-width: 170px;
}

#{ns.class("theme-switch-popover")} #{ns.element-class("theme-select", "option")} {
  justify-content: flex-start;
}

#{ns.class("theme-switch-popover")} #{ns.element-class("theme-select", "option")}#{ns.data("theme-active", "true")},

#{ns.class("theme-switch-popover")} #{ns.element-class("theme-select", "option")}[aria-checked="true"] {
  background: var(
    #{ns.css-var("shell-theme-option-state-current-bg")},
    var(#{ns.css-var("overlay-popover-item-state-selected-bg")}, var(--background-surface-2, transparent))
  );
  color: var(#{ns.css-var("shell-theme-option-state-current-color")}, var(--text-color));
}
