@use "@trebired/bundler/namespace" as ns;
#{ns.class("progress")} {
  position: fixed;
  inset: 0 0 auto 0;
  height: var(#{ns.css-var("runtime-progress-height")}, 3px);
  #{ns.css-var("runtime-progress-bar-color")}: var(
    #{ns.css-var("runtime-progress-color")},
    var(#{ns.css-var("focus")}, currentColor)
  );
  pointer-events: none;
  z-index: var(#{ns.css-var("z-progress")}, 99999);
}

#{ns.element-class("progress", "bar")} {
  display: block;
  height: 100%;
  background: var(#{ns.css-var("runtime-progress-bar-color")});
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform var(#{ns.css-var("transition-fast")}) ease;
}
