@use "@trebired/bundler/namespace" as ns;
.file-input {
  cursor: pointer;
}

.file-input::file-selector-button {
  margin-right: 10px;
  height: 100%;
  padding: 0 10px;
  border: none;
  border-radius: var(--radius-xs);
  background: var(#{ns.css-var("ui-input-file-btn-bg")}, var(--background-surface-2, transparent));
  color: var(--text-color-muted);
  cursor: pointer;
}

.file-input::file-selector-button:hover {
  background: var(
    #{ns.css-var("ui-input-file-btn-state-hover-bg")},
    var(#{ns.css-var("ui-input-file-btn-bg")}, var(--background-surface-2, transparent))
  );
}
