@use "@trebired/bundler/namespace" as ns;
.input-status-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.input-status-wrap .input {
  flex: 1;
  padding-right: 32px;
}

.input-status-icon {
  position: absolute;
  right: 9px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.input-status-icon.has-tooltip {
  cursor: help;
  pointer-events: auto;
}

.input-status-icon.ok {
  color: var(#{ns.css-var("status-success-color")}, var(#{ns.css-var("focus")}, currentColor));
}

.input-status-icon.bad {
  color: var(#{ns.css-var("status-error-color")}, var(#{ns.css-var("focus")}, currentColor));
}
