@use "@trebired/bundler/namespace" as ns;
#{ns.class("input-status-wrap")} {
  position: relative;
  display: flex;
  align-items: center;
}

#{ns.class("input-status-wrap")} #{ns.class("input")} {
  flex: 1;
  padding-right: 32px;
}

#{ns.class("input-status-icon")} {
  position: absolute;
  right: 9px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

#{ns.class("input-status-icon")}#{ns.class("has-tooltip")} {
  cursor: help;
  pointer-events: auto;
}

#{ns.class("input-status-icon")}#{ns.class("ok")} {
  color: var(#{ns.css-var("status-success-color")}, var(#{ns.css-var("focus")}, currentColor));
}

#{ns.class("input-status-icon")}#{ns.class("bad")} {
  color: var(#{ns.css-var("status-error-color")}, var(#{ns.css-var("focus")}, currentColor));
}
